<!DOCTYPE html>
<html th:fragment="layout(title, links, scripts, content, subnav)" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>

	<title  th:text="#{app.title}">HDSS</title>
	<base href="/">
	<!-- common links -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.css">
	<link rel="stylesheet" href="https://printjs-4de6.kxcdn.com/print.min.css">


	<style>
		body {
			background-color: rgb(57, 106, 147);
		}


		.workspace {
			background-color: #92c7f2;
		}

		.formspace {
			background-color: rgb(33, 63, 86) !important;
			color: #FFFFFF;
		}

		.btn-maroon {
			background-color: rgb(128, 0, 64);
			border-color: rgb(128, 0, 64);
		}

		.btn-maroon:hover {
			background-color: rgb(64, 0, 0) !important;
			border-color: rgb(64, 0, 0) !important;
		}
	</style>
</head>

<body class="me-5 ms-5 mt-1">
	<div th:if="${exceptionMsg}" class="alert alert-danger" th:text="${exceptionMsg}"></div>


	<div th:insert="fragments/current-user"></div>
	<div th:insert="fragments/menubar-main"></div>


	<div class="mx-auto box-shadow">

		<div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
					

		<div class="card-body">
		<h4 class="mb-3 text-center text-muted">UPDATE PASSWORD</h4>
		<form action="#"
		th:action="@{/controls/users/{id}/password(id=${selected.user_email})}"
		th:object="${selected}" method="POST" class="needs-validation"
		novalidate>
		<div th:if="${success}" class="alert alert-warning"
			th:text="${success}"></div>

		<div class="mb-3">
			<label for="user_id">Email</label> 
			<input type="email"
				class="form-control" id="user_id" placeholder="your email addres"
				value="" readonly th:field="*{user_email}" />
			<div class="invalid-feedback">A valid email address is required</div>
		</div>
		<div class="row">
			<div class="col-md-6 mb-3">
				<label for="user_password">Enter New Password</label> <input
					id="user_password" type="password" class="form-control"
					onChange="onChange()" th:field="*{user_password}" required />
			</div>
			<div class="col-md-6 mb-3">
				<label for="confirm_password">Confirm New Password</label> <input
					id="confirm_password" type="password" class="form-control"
					onChange="onChange()" required />
			</div>
		

		<hr class="mb-4 bg-secondary">
		<div class="">
			<button class="btn btn-primary btn-lg" type="submit"
				th:text="#{button.submit}"></button>
			<a class="btn btn-secondary btn-lg" href="#"
				th:href="@{/controls/users}" th:text="#{button.close}"></a>
		</div>
	</form>
		</div>
		</div>
	
	
	</div>

	<footer class="text-light text-center mb-4">
		<div th:insert="fragments/app-version"></div>
		<!-- common scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/js/all.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/timepicker/1.3.5/jquery.timepicker.min.js"></script>
		<script src="https://printjs-4de6.kxcdn.com/print.min.js"></script>

		
	</footer>

</body>

</html>

