<!doctype html>
<html th:fragment="layout(title, links, scripts, content, subnav)" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title  th:text="#{app.title}"></title>
        <meta name="description" content="">
        <meta name="keywords" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <link rel="icon" href="favicon.ico" type="image/x-icon" />

        <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800" rel="stylesheet">
        
        <link rel="stylesheet" th:href="@{/plugins/bootstrap/dist/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/fontawesome-free/css/all.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/icon-kit/dist/css/iconkit.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/ionicons/dist/css/ionicons.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/perfect-scrollbar/css/perfect-scrollbar.css}">
        <link rel="stylesheet" th:href="@{/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/jvectormap/jquery-jvectormap.css}">
        <link rel="stylesheet" th:href="@{/plugins/tempusdominus-bootstrap-4/build/css/tempusdominus-bootstrap-4.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/weather-icons/css/weather-icons.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/c3/c3.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/owl.carousel/dist/assets/owl.carousel.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/owl.carousel/dist/assets/owl.theme.default.min.css}">
        <link rel="stylesheet" th:href="@{/dist/css/theme.min.css}">
        <link rel="stylesheet" th:href="@{/plugins/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
        
        <script th:src="@{/src/js/vendor/modernizr-2.8.3.min.js}"></script>
        
    </head>

    <body>
       <div th:if="${exceptionMsg}" class="alert alert-danger" th:text="${exceptionMsg}"></div>

        <div class="wrapper">
            <!-- header start-->
			<div th:insert="fragments/header"></div>
				<!-- header end -->

            <div class="page-wrap">
				<!-- Sidebar end-->
			<div th:insert="fragments/sidebar-menu"></div>
				<!-- Sidebar end -->
                <div class="main-content">
  
                                  <div class="card">
                                    
                                    <div class="card-body">
										<div class="row">
										
							 <!-- top contact and member performance start -->
                            <div class="col-xl-6 col-md-6">
                                <div class="card table-card">
                                    <div class="card-header">
                                        <h3>Generate ZIP</h3>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                                <li><i class="ik ik-minus minimize-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0">
                                                <thead>
                                                    <tr>
														<th th:text="#{task.name}"></th>
														<th th:text="#{task.gen}"></th>
														<th th:text="#{task.progress}"></th>
													</tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td th:text="#{individual}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadCsv()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="message"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{location}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadLocation()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success location-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="locmessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{residency}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadResidency()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success residency-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="resmessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{socialgroup}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadSocialgroup()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success socialgroup-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="somessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{relationship}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadRelationship()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success relationship-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="relmessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{pregnancy}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadPregnancy()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success pregnancy-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="pregmessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{demography}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadDemography()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success demography-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="demomessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{ses}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadSes()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success ses-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="sesmessage"></div>

														</td>
                                                    </tr>
                                                    <tr>
                                                        <td th:text="#{vac}"></td>
                                                        <td><button class="btn btn-theme" onclick="downloadVac()">Generate</button></td>
                                                        <td>
															<div class="progress">
															  <div class="progress-bar bg-success vac-progress" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
															</div>
															<div class="vacmessage"></div>

														</td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="card table-card">
                                    <div class="card-header">
                                        <h3>Task</h3>
                                        <div class="card-header-right">
                                            <ul class="list-unstyled card-option">
                                                <li><i class="ik ik-chevron-left action-toggle"></i></li>
                                                <li><i class="ik ik-minus minimize-card"></i></li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="card-block">
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0">
												<thead class="">
													<tr>
														<!--<th th:text="#{task.name}"></th>-->
														<th th:text="#{task.size}"></th>
														<th th:text="#{task.date}"></th>
														<th th:text="#{task.total}"></th>
														<th th:text="#{task.name}"></th>
													</tr>
												</thead>
                                                <tbody>
                                                   <tr th:each="item : ${items}">
														<!--<td th:text="${item.fileName}"></td>-->
														<td th:text="${item.data}"></td>
														<td th:text="${item.timestamp}"></td>
														<td th:text="${item.total}"></td>
														<td>
										                    <a th:href="@{/api/zip/{fileName}(fileName=${item.fileName})}"
										                       class="btn btn-sm btn-primary" download style="width: 100px;">
										                        <span th:text="${item.fileName}" ></span>
										                    </a>
										                </td>
									            	</tr>
                                                </tbody>
                                            </table>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- top contact and member performance end -->
                                </div>   
                                    </div>
                                </div>
  
                </div>


				<!--Footer-->
                <div th:insert="fragments/footer"></div>
                
            </div>
        </div>
        
       
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script>window.jQuery || document.write('<script th:src="@{/src/js/vendor/jquery-3.3.1.min.js}"><\/script>')</script>
        <script th:src="@{/plugins/popper.js/dist/umd/popper.min.js}"></script>
        <script th:src="@{/plugins/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/plugins/perfect-scrollbar/dist/perfect-scrollbar.min.js}"></script>
        <script th:src="@{/plugins/screenfull/dist/screenfull.js}"></script>
        <script th:src="@{/plugins/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/plugins/datatables.net-bs4/js/dataTables.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/datatables.net-responsive/js/dataTables.responsive.min.js}"></script>
        <script th:src="@{/plugins/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js}"></script>
        <script th:src="@{/plugins/jvectormap/jquery-jvectormap.min.js}"></script>
        <script th:src="@{/plugins/jvectormap/tests/assets/jquery-jvectormap-world-mill-en.js}"></script>
        <script th:src="@{/plugins/moment/moment.js}"></script>
        <script th:src="@{/plugins/tempusdominus-bootstrap-4/build/js/tempusdominus-bootstrap-4.min.js}"></script>
        <script th:src="@{/plugins/d3/dist/d3.min.js}"></script>
        <script th:src="@{/plugins/c3/c3.min.js}"></script>
        <script th:src="@{/js/tables.js}"></script>
        <script th:src="@{/js/widgets.js}"></script>
        <script th:src="@{/js/charts.js}"></script>
        <script th:src="@{/dist/js/theme.min.js}"></script>
        <script th:src="@{/js/dashboard.js}"></script>
        <script th:src="@{/js/datatables.js}"></script>
        <script th:src="@{/js/task.js}"></script>
        
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='https://www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-XXXXX-X','auto');ga('send','pageview');
        </script>
        
<script>
    function logout() {
        document.getElementById('logoutForm').submit();
    }
</script>

        
    </body>
</html>
