		<!-- footer content -->
        		<footer class="footer">
                    <div class="w-100 clearfix">
                        <span class="text-center text-sm-left d-md-inline-block">Copyright © 2023 Data Capture v2.0. All Rights Reserved.</span>
                        <span class="float-none float-sm-right mt-1 mt-sm-0 text-center">Developed <i class="fa fa-heart text-danger"></i> by <a href="mailto:abdul.razak.code@gmail.com" class="text-dark" target="_blank">Abdul Razak</a></span>
                    </div>
                </footer>
        <!-- /footer content -->