<div class="row mb-3">
	<div class="text-end p-2 rounded mb-1" style="background-color: rgb(255, 255, 255);">
		<span>
			<a class="btn btn-dark" href="#" th:href="@{/update}" th:text="#{menubutton.update}"> </a>
			<a class="btn btn-dark" href="#" th:href="@{/report}" th:text="#{menubutton.report}"></a>
			<a class="btn btn-dark" href="#" th:href="@{/utility}" th:text="#{menubutton.utility}"></a>
			<a class="btn btn-dark" href="#" th:href="@{/amend}" th:text="#{menubutton.amend}"></a>
			<a class="btn btn-dark" href="#" th:href="@{/config}" th:utext="#{menubutton.config}"></a>
		</span>
	</div>
</div>