<div class="row mb-3">
	<div class="text-end p-2 rounded mb-1" style="background-color: rgb(207, 226, 255);">
		<span>
			<a class="btn btn-sm btn-danger" href="#" th:href="@{/pi}" th:text="#{menubutton.authors}"> </a>
			<a class="btn btn-sm btn-success" href="#" th:href="@{/rv}" th:text="#{menubutton.reviewers}"></a>
			<a class="btn btn-sm btn-warning" href="#" th:href="@{/ed}" th:text="#{menubutton.editors}"></a>
			<a class="btn btn-sm btn-dark" href="#" th:href="@{/controls}" th:utext="#{menubutton.controls}"></a>
		</span>
	</div>
</div>