

<div class="app-sidebar colored">
    <div class="sidebar-header">
        <a class="header-brand" th:href="@{/hdss/report}">
            <span class="text">HDSS</span>
        </a>
    </div>
    
    <div class="sidebar-content" style="overflow-y: scroll; max-height: 100vh;">
        <div class="nav-container">
            <nav id="main-menu-navigation" class="navigation-main">
                <div class="nav-lavel"><b style="color: green;">[[${#httpServletRequest.remoteUser}]]</b></div>
                <div class="nav-item active">
                    <a th:href="@{/hdss/report}"><i class="ik ik-bar-chart-2"></i><span>Dashboard</span></a>
                </div>
                <div class="nav-item has-sub" sec:authorize="hasAnyRole('CONTROLLER','MANAGER')">
                    <a href="javascript:void(0)"><i class="ik ik-layers"></i><span>Configuration</span></a>
                    <div class="submenu-content">
                        <a th:href="@{/utility/task}" class="menu-item" title="Generate ZIP Files">Task</a>
                        <a th:href="@{/utility/parameters}" class="menu-item" title="Define Parameters">Parameters</a>
                        <a th:href="@{/controls/users}" class="menu-item" sec:authorize="hasAnyRole('CONTROLLER')">Users</a>
                        <a th:href="@{/utility/fw}" class="menu-item">Fieldworker</a>
                        <a th:href="@{/utility/round}" class="menu-item">Round</a>
                        <a th:href="@{/utility/codebook}" class="menu-item">Codebook</a>
                        <a th:href="@{/hdss/errorlog}" class="menu-item">Error Log</a>
                        <a th:href="@{/utility/extra-forms}" class="menu-item">Extra ODK Forms</a>
                    </div>
                </div>
                <div class="nav-item has-sub" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR')">
                    <a href="javascript:void(0)"><i class="ik ik-list"></i><span>Hierarchy</span> <span class="badge badge-success" id="cntall"></span></a>
                    <div class="submenu-content">
                        <a th:href="@{/hierarchy/country}" class="menu-item">Country<span class="badge badge-success" id="cnt1"></span></a>
                        <a th:href="@{/hierarchy/region}" class="menu-item">Region<span class="badge badge-success" id="cnt2"></span></a>
                        <a th:href="@{/hierarchy/district}" class="menu-item">District<span class="badge badge-success" id="cnt3"></span></a>
                        <a th:href="@{/hierarchy/subdistrict}" class="menu-item">Sub District<span class="badge badge-success" id="cnt4"></span></a>
                        <a th:href="@{/hierarchy/village}" class="menu-item">Village<span class="badge badge-success" id="cnt5"></span></a>
                        <a th:href="@{/hierarchy/subvillage}" class="menu-item">Subvillage<span class="badge badge-success" id="cnt6"></span></a>
                    </div>
                </div>
                <div class="nav-item has-sub">
                    <a href="#"><i class="ik ik-box"></i><span>Utility</span></a>
                    <div class="submenu-content">                       
                        <a href="#" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR')" th:href="@{/utility/activefw}" class="menu-item">Active Fieldworkers</a>
                        <a href="#" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR')" th:href="@{/file/assign}" class="menu-item">Schedule Fieldworker</a>
                        <a href="#" th:href="@{/hdss/map}" class="menu-item">Site Map</a>                      
                        <a href="#" th:href="@{/hdss/report/search}" class="menu-item">Search</a>
                    </div>
                </div>
                
                <div class="nav-item has-sub" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR')">
                    <a href="#"><i class="ik ik-pie-chart"></i><span>Field Report</span></a>
                    <div class="submenu-content">					
                        <a href="#" th:href="@{/hdss/report/registry}" class="menu-item">Registry</a>                      
                        <a href="#" th:href="@{/hdss/report/visit}" class="menu-item">Household Visit</a>
                        <a th:href = "@{/hdss/report/listing}" class="menu-item">Compound Visit</a>
                        <a th:href = "@{/hdss/report/inmigration}" class="menu-item">Inmigration</a>
                        <a th:href = "@{/hdss/report/outmigration}" class="menu-item">Outmigration</a>
                        <a th:href = "@{/hdss/report/pregnancy}" class="menu-item">Pregnancy</a>
                        <a th:href = "@{/hdss/report/outcome}" class="menu-item">Outcome</a>
                        <a th:href = "@{/hdss/report/relationship}" class="menu-item">Relationship</a>
                        <a th:href = "@{/hdss/report/death}" class="menu-item">Death</a>
                        <a th:href = "@{/hdss/report/location}" class="menu-item">Compound</a>
                        <a th:href = "@{/hdss/report/household}" class="menu-item">Socialgroup</a>
                        <a th:href = "@{/hdss/report/ses}" class="menu-item">SES</a>
                    </div>
                </div>
                <div class="nav-item has-sub" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR')">
                    <a href="#"><i class="ik ik-edit"></i><span>Generate Report</span></a>
                    <div class="submenu-content">
                        <a href="#" th:href="@{/hdss/attendance-report}" class="menu-item" title="View Events by Each Active Fieldworker Over a Selected Period">Daily Household Report</a>
                        <a href="#" th:href="@{/hdss/report/pop}" class="menu-item" title="View Population by Age Group & Gender">Population</a>
                         <a href="#" th:href="@{/hdss/report/workoutput}" class="menu-item" title="Percentage of Compounds and Households Visited Per SubVillage">Village Output</a>
                        <a href="#" th:href="@{/hdss/report/fw_report}" class="menu-item" title="Number of Field Events Picked by a Fieldworker Over a Selected Period">Field Events</a>
                        <a th:href="@{/hdss/report/activehoh}" class="menu-item" title="View Population by SubVillage, Number of Compounds & Households">Household Population</a>
                        <a th:href="@{/utility/community}" class="menu-item" title="View Social Amenities by SubVillage">Community Report</a>
                        <a th:href="@{/utility/vpm}" class="menu-item" title="List of VPM yet to be Conducted">Vpm List</a>
                        <a th:href="@{/hdss/report/unvisited}" class="menu-item" title="Compounds Yet To Be Visited">Unvisited Compounds</a>
                        <a th:href="@{/hdss/event-chart}" class="menu-item" title="View Trend of Event For Last Five Rounds per Village/SubVillage">Event Trend</a>

                    </div>
                </div>
                <div class="nav-item has-sub" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR','SUPERVISOR')">
                    <a href="#"><i class="ik ik-inbox"></i><span>Approvals</span></a>
                    <div class="submenu-content">
                        <a href="#" class="menu-item" th:href="@{/hdss/approval}">All</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/imglist}">Inmigration</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/omglist}">Outmigration</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/dthlist}">Death</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/preglist}">Pregnancy</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/outcomelist}">Outcome</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/demolist}">Demographic</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/rellist}">Relationship</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/seslist}">SES</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/vaclist}">Vaccination</a>
                        <a href="#" class="menu-item" th:href="@{/hdss/approval/morlist}">Morbidity</a>
                    </div>
                </div>
                
                <div class="nav-item has-sub" sec:authorize="hasAnyRole('CONTROLLER','MANAGER','COORDINATOR','SUPERVISOR')">
                    <a href="#" ><i class="fa fa-exclamation-triangle"></i><span>Queries</span><span class="badge badge-danger" id="errors"></span></a>
                    <div class="submenu-content">
                        <a href="#" th:href="@{/hdss/query/nomembership}" class="menu-item" title="Individual Without Corresponding Residency">No Membership<span class="badge badge-danger" id="nomemb"></span></a>
                        <a href="#" th:href="@{/hdss/query/lagging}" class="menu-item" title="Start Date For Current Residency Less Than Previous Residency End Date">Lagging Date<span class="badge badge-danger" id="lag"></span></a>
                        <a href="#" th:href="@{/hdss/query/dob}" class="menu-item" title="Updated Date of Birth Greater Than Start Date"> DOB > StartDate<span class="badge badge-danger" id="dobs"></span></a>
                        <a href="#" th:href="@{/hdss/query/residency}" class="menu-item" title="Individual Moved Into Separate Compounds By Different Fieldworkers During Same Round">Duplicate Residency<span class="badge badge-danger" id="dupres"></span></a>
                        <a th:href="@{/hdss/query/minorhoh}" class="menu-item" title="Household Head is a Minor">Minor HOH<span class="badge badge-danger" id="minor"></span></a>
                        <a th:href="@{/hdss/query/minors}" class="menu-item" title="No Member of the Household is Qualified to be a Respondent">Minors Only<span class="badge badge-danger" id="minors"></span></a>
                        <a th:href="@{/hdss/query/outcome}" class="menu-item" title="No Corresponding Outcome (Caused by Different Fieldworkers Picking Same Outcome)">No Outcome<span class="badge badge-danger" id="out"></span></a>
                        <a th:href="@{/hdss/query/dthoh}" class="menu-item" title="The Current Household Head is Dead and Need to be Replaced">Dead HOH<span class="badge badge-danger" id="dthoh"></span></a>
                    </div>
                </div>
                
            </nav>
        </div>
    </div>
</div>


                               <!-- <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-gitlab"></i><span>Advance</span> <span class="badge badge-success">New</span></a>
                                    <div class="submenu-content">
                                        <a href="pages/ui/modals.html" class="menu-item">Modals</a>
                                        <a href="pages/ui/notifications.html" class="menu-item">Notifications</a>
                                        <a href="pages/ui/carousel.html" class="menu-item">Slider</a>
                                        <a href="pages/ui/range-slider.html" class="menu-item">Range Slider</a>
                                        <a href="pages/ui/rating.html" class="menu-item">Rating</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-package"></i><span>Extra</span></a>
                                    <div class="submenu-content">
                                        <a href="pages/ui/session-timeout.html" class="menu-item">Session Timeout</a>
                                    </div>
                                </div>
                                <div class="nav-item">
                                    <a href="pages/ui/icons.html"><i class="ik ik-command"></i><span>Icons</span></a>
                                </div>
                                <div class="nav-lavel">Forms</div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-edit"></i><span>Forms</span></a>
                                    <div class="submenu-content">
                                        <a href="pages/form-components.html" class="menu-item">Components</a>
                                        <a href="pages/form-addon.html" class="menu-item">Add-On</a>
                                        <a href="pages/form-advance.html" class="menu-item">Advance</a>
                                    </div>
                                </div>
                                <div class="nav-item">
                                    <a href="pages/form-picker.html"><i class="ik ik-terminal"></i><span>Form Picker</span> <span class="badge badge-success">New</span></a>
                                </div>

                                <div class="nav-lavel">Tables</div>
                                <div class="nav-item">
                                    <a href="pages/table-bootstrap.html"><i class="ik ik-credit-card"></i><span>Bootstrap Table</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="pages/table-datatable.html"><i class="ik ik-inbox"></i><span>Data Table</span></a>
                                </div>

                                <div class="nav-lavel">Charts</div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-pie-chart"></i><span>Charts</span> <span class="badge badge-success">New</span></a>
                                    <div class="submenu-content">
                                        <a href="pages/charts-chartist.html" class="menu-item active">Chartist</a>
                                        <a href="pages/charts-flot.html" class="menu-item">Flot</a>
                                        <a href="pages/charts-knob.html" class="menu-item">Knob</a>
                                        <a href="pages/charts-amcharts.html" class="menu-item">Amcharts</a>
                                    </div>
                                </div>

                                <div class="nav-lavel">Apps</div>
                                <div class="nav-item">
                                    <a href="pages/calendar.html"><i class="ik ik-calendar"></i><span>Calendar</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="pages/taskboard.html"><i class="ik ik-server"></i><span>Taskboard</span></a>
                                </div>

                                <div class="nav-lavel">Pages</div>

                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-lock"></i><span>Authentication</span></a>
                                    <div class="submenu-content">
                                        <a href="pages/login.html" class="menu-item">Login</a>
                                        <a href="pages/register.html" class="menu-item">Register</a>
                                        <a href="pages/forgot-password.html" class="menu-item">Forgot Password</a>
                                    </div>
                                </div>
                                <div class="nav-item has-sub">
                                    <a href="#"><i class="ik ik-file-text"></i><span>Other</span></a>
                                    <div class="submenu-content">
                                        <a href="pages/profile.html" class="menu-item">Profile</a>
                                        <a href="pages/invoice.html" class="menu-item">Invoice</a>
                                    </div>
                                </div>
                                <div class="nav-item">
                                    <a href="pages/layouts.html"><i class="ik ik-layout"></i><span>Layouts</span><span class="badge badge-success">New</span></a>
                                </div>
                                <div class="nav-lavel">Other</div>
                                <div class="nav-item has-sub">
                                    <a href="javascript:void(0)"><i class="ik ik-list"></i><span>Menu Levels</span></a>
                                    <div class="submenu-content">
                                        <a href="javascript:void(0)" class="menu-item">Menu Level 2.1</a>
                                        <div class="nav-item has-sub">
                                            <a href="javascript:void(0)" class="menu-item">Menu Level 2.2</a>
                                            <div class="submenu-content">
                                                <a href="javascript:void(0)" class="menu-item">Menu Level 3.1</a>
                                            </div>
                                        </div>
                                        <a href="javascript:void(0)" class="menu-item">Menu Level 2.3</a>
                                    </div>
                                </div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)" class="disabled"><i class="ik ik-slash"></i><span>Disabled Menu</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)"><i class="ik ik-award"></i><span>Sample Page</span></a>
                                </div>
                                <div class="nav-lavel">Support</div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)"><i class="ik ik-monitor"></i><span>Documentation</span></a>
                                </div>
                                <div class="nav-item">
                                    <a href="javascript:void(0)"><i class="ik ik-help-circle"></i><span>Submit Issue</span></a>
                                </div>-->
