<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />

<body>
<div th:replace="common/header :: navbar" /></div>
<div class="container">

<div class="row">
    <h1>Field Workers</h1>
    
    </div>
    <div class="row">
    <div class="col-lg-3">
    <a th:href = "@{fieldworkers/add}" class="btn btn-primary btn-sm mb-3">Add Fieldworker</a>
    </div>
    </div>
    <table class="table">
        <thead class="thead-light">
        <tr>
            <th>User Name</th>
            <th>Full Name</th>
            <th>Password</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="fieldworker : ${fieldworkers}">
            <td th:text="${fieldworker.username}"></td>
            <td th:text="${fieldworker.fullName}"></td>
            <td th:text="${fieldworker.password}"></td>
            <td th:text="${fieldworker.status}"></td>
            <td>
                <a th:href="@{/fieldworkers/edit/{id}(id=${fieldworker.id})}" class="btn btn-primary btn-sm">Edit</a>
                <a th:href="@{/fieldworkers/{id}(id=${fieldworker.id})}" class="btn btn-danger btn-sm" >Delete</a>

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="common/header :: body-bottom-scripts" ></div>


</body>
</html>
