
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" /></div>
	<!--<div th:replace="common/footer :: navbar" />-->
	
	<div class="container">
		<div class="table-responsive">
			<table id="roundListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<!-- <th><input th:id="selectAllrounds" type="checkbox" /></th> -->
						<th>Round Number</th>
						<th>Remark</th>
						<th>Start Date</th>
						<th>End Date</th>
						
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="round : ${roundList}">
						<!-- <td>
						<input hidden="hidden" name="id" th:value="${round.id}" />
						<input th:id="'selected'+${round.id}" class="checkboxround" type="checkbox" />
						</td> -->
						<td th:text="${round.roundNumber}"></td>
						<td th:text="${round.remark}"></td>
						<td th:text="${round.startDate}"></td>
						<td th:text="${round.endDate}"></td>
						
					</tr>
				</tbody>
			</table>
		</div>
	<!-- <button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button> -->
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" ></div>
	

</body>
</html>
