<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>


<body>
<div th:replace="common/header :: navbar" /></div>
<div class="container">

<div class="row">
    <h1>Round</h1>
    
    </div>
    
    <!-- Row Start -->
    <div class="row">
    <div class="col-lg-3">
    <a th:href = "@{rounds/add}" class="btn btn-primary btn-sm mb-3">Add Round</a>
    </div>

    </div>
    
    
    
    <!-- Row Ends -->
    <table class="table" id="myTable">
        <thead class="thead-light">
        <tr>
            <th>Round</th>
            <th>Remarks</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="round : ${rounds}">
            <td th:text="${round.roundNumber}"></td>
            <td th:text="${round.remark}"></td>
            <td th:text="${round.startDate}"></td>
            <td th:text="${round.endDate}"></td>
            <td>
                <a th:href="@{/rounds/edit/{id}(id=${round.id})}" class="btn btn-primary btn-sm">Edit</a>
                <!--  <a th:href="@{/fieldworkers/{id}(id=${fieldworker.id})}" class="btn btn-danger btn-sm" >Delete</a>-->

            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="common/header :: body-bottom-scripts" ></div>
<script>
$(document).ready(function() {
    $('#myTable').DataTable({
        "pageLength": 5
    });
});
</script>



</body>
</html>
