
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" /></div>

	<div class="container">
		<div class="row">
			<form class="form-horizontal" th:action="@{/round/add}" method="post"
				enctype="multipart/form-data">
				<fieldset>
				
					<legend class="center-block">
						New Round
					</legend>

					<!-- Round Number -->
					<div class="form-group">
						<label  class="col-md-2 control-label" for="fname">Round Number</label>

						<div class="col-md-8">
							<input type="text" name="roundNumber" class="form-control" id="rnumber"
								th:value="${round.roundNumber}" required="required" placeholder="roundNumber" />
							<span class="help-block">Round Number</span>
						</div>
					</div>

					<!-- Remark -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="author">Remarks</label>
						<div class="col-md-8">
							<input type="text" name="remark" class="form-control" id="remark"
								th:value="${round.remark}" required="required" placeholder="Remarks" /> 
								<span class="help-block">Remarks</span>
						</div>
					</div>

					<!-- Date of Start -->
					<div class="form-group">
						<label class="col-md-2 control-label" for="startDate">Start Date</label>
						<div class="col-md-8">
							<input type="date" required="required" class="form-control" id="startDate"
								name="startDate" th:value="${round.startDate}"
								placeholder="Start Date" />
							 <span class="help-block">Start Date</span>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-2 control-label" for="endDate">End Date</label>
						<div class="col-md-8">
							<input type="date" required="required" class="form-control" id="endDate"
								name="endDate" th:value="${round.endDate}"
								placeholder="End Date" />
							 <span class="help-block">End Date</span>
						</div>
					</div>
	

					<div class="form-group">
						<div class="col-md-2"></div>
						<div class="col-md-8">
							<button type="submit" id="addRoundSuccess" class="btn btn-success">Add Round</button>
							<a class="btn btn-danger" th:href="@{/}">Cancel</a>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>


	<div th:replace="common/header :: body-bottom-scripts" /></div>
</body>
</html>
