<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="common/head :: common-header" />
<title>Fieldworker</title>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

<link th:href="@{/css/progressBar.css}" rel="stylesheet" />

 <link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<script th:src="@{/js/jquery-1.12.3.js}"></script>
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/dataTables.buttons.min.js}"></script>


</head>
<body>
<div th:replace="common/head :: navbar" /></div>
	
	<div class="ts-main-content">
	<div th:replace="common/sidebar :: navbar" /></div>
	<div class="content-wrapper">
	<div class="container-fluid">
		<div class="row">
		<div class="col-md-12">

	<div class="panel-body">
  
    <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card" style="margin-top:9%">
		<h1 class="text-center">Register Fieldworker</h1>
		<div class="card-body">
		<form th:action="@{/fieldworkers}" th:object="${fieldworker}" method="post">
		<div class="form-group">
		<label>FIRST NAME</label>
		<input type="text" name="firstname" th:field ="*{firstName}" Placeholder="Enter First Name" class="form-control"/>
		</div>
		<div class="form-group">
		<label>LAST NAME</label>
		<input type="text" name="lastname" th:field ="*{lastName}" Placeholder="Enter Last Name" class="form-control"/>
		</div>
		<div class="form-group">
		<label>PASSWORD</label>
		<input type="password" name="password" th:field ="*{password}" Placeholder="Enter Pin or Password(Should be in Numbers)" class="form-control"/>
		</div>
		<div class="form-group">
		<label>STAFF STATUS</label>
		<input type="text" name="status" th:field ="*{status}" Placeholder="Status of Fieldworker(1=Active, 0=Inactive)" class="form-control"/>
		</div>
		
		<div class="footer-body">
		
		<button type="submit" class="btn btn-primary">Save</button>
		
		</div>
		
		</form>
		</div>
		</div>
		</div>
    </div>
    </div>
    </div>
    </div>
</div>

<div th:replace="common/head :: body-bottom-scripts" ></div>
<script th:src="@{/js/main.js}"></script>  
<script th:src="@{/js/buttons.html5.min.js}"></script> 
<script>
$(document).ready(function() {
    $('#example').DataTable({
        "pageLength": 10
    });
});
</script>







</body>
</html>
