
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:fragment="common-header">
<link th:href="@{/css/progressBar.css}" rel="stylesheet" />
<link th:href="@{/css/font-awesome.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/dataTables.bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

</head>

<body>
	<div th:replace="common/head :: navbar" /></div>
	
	<div class="ts-main-content">
	<div th:replace="common/sidebar :: navbar" /></div>

	</div>
	
 <div th:fragment="body-bottom-scripts">       

<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/js/jquery.min.js}"></script>
<script th:src="@{/js/bootstrap-select.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
<script th:src="@{/js/jquery-1.12.3.js}"></script>
<script th:src="@{/js/dataTables.buttons.min.js}"></script>
<script th:src="@{/js/dataTables.bootstrap.min.js}"></script>
</div>
</body>
</html>
