<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" >

</head>
<body>
<div th:replace="common/header :: navbar" /></div>

<div class="container">
<div class="row d-flex justify-content-center">

 
 	<div class="row">
     <div class="card">
      <div class="card-header">Upload Individual ZIP File</div>
      <div class="card-body">
        <form method="POST" action="/upload/individual" enctype="multipart/form-data">
          <div class="form-group">
            <label for="individual-zip-input">Choose file:</label>
            <input type="file" class="form-control-file" id="individual-zip-input" name="individual.zip" accept=".zip">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </form>
        <div th:if="${param.successMessage}" class="alert alert-success" role="alert">
		    <span th:text="${param.successMessage}"></span>
		  </div>
      </div>
    </div>
    </div>
    
  
    <div class="card">
      <div class="card-header">Upload Location ZIP File</div>
      <div class="card-body">
        <form method="POST" action="/upload/location" enctype="multipart/form-data">
          <div class="form-group">
            <label for="individual-zip-input">Choose file:</label>
            <input type="file" class="form-control-file" id="location-zip-input" name="location.zip" accept=".zip">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Upload Residency ZIP File</div>
      <div class="card-body">
        <form method="POST" action="/upload/residency" enctype="multipart/form-data">
          <div class="form-group">
            <label for="individual-zip-input">Choose file:</label>
            <input type="file" class="form-control-file" id="residency-zip-input" name="residency.zip" accept=".zip">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </form>
      </div>
    </div>

    <div class="card">
      <div class="card-header">Upload Socialgroup ZIP File</div>
      <div class="card-body">
        <form method="POST" action="/upload/socialgroup" enctype="multipart/form-data">
          <div class="form-group">
            <label for="individual-zip-input">Choose file:</label>
            <input type="file" class="form-control-file" id="socialgroup-zip-input" name="socialgroup.zip" accept=".zip">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
          </div>
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
        </form>
      </div>
    </div>
	<div class="card">
	      <div class="card-header">Upload Pregnancy ZIP File</div>
	      <div class="card-body">
	        <form method="POST" action="/upload/pregnancy" enctype="multipart/form-data">
	          <div class="form-group">
	            <label for="individual-zip-input">Choose file:</label>
	            <input type="file" class="form-control-file" id="pregnancy-zip-input" name="pregnancy.zip" accept=".zip">
	          </div>
	          <div class="form-group">
	            <button type="submit" class="btn btn-primary">Submit</button>
	          </div>
	          <div class="progress">
	            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
	          </div>
	        </form>
	      </div>
	    </div>

	<div class="card">
	      <div class="card-header">Upload Relationship ZIP File</div>
	      <div class="card-body">
	        <form method="POST" action="/upload/relationship" enctype="multipart/form-data">
	          <div class="form-group">
	            <label for="individual-zip-input">Choose file:</label>
	            <input type="file" class="form-control-file" id="relationship-zip-input" name="relationship.zip" accept=".zip">
	          </div>
	          <div class="form-group">
	            <button type="submit" class="btn btn-primary">Submit</button>
	          </div>
	          <div class="progress">
	            <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
	          </div>
	        </form>
	      </div>
	    </div>
    
</div>
</div>

<div th:replace="common/header :: body-bottom-scripts" /></div>

</body>
</html>
