<!DOCTYPE html>
<html th:replace="~{layout/investigator :: layout(_,~{},_,~{::content},~{})}">

<content>
	<div class="col-md-12 py-3 my-3 mx-auto p-3 rounded box-shadow">
		<div class="row">
			<div class="card m-3 border-dark formspace text-white col-md-2" >
				<div class="card-header bg-transparent border-light">
					</div>
				<div class="card-body">
					<a href="#" class="btn small d-grid gap-2 btn-light" th:href="@{/utility/fw}">[[#{menubutton.fw}]]</a>
				</div>
			</div>
			<div class="card m-3 border-dark formspace text-white col-md-2">
				<div class="card-header bg-transparent border-warning">
					</div>
				<div class="card-body">
					<a href="#" class="btn small d-grid gap-2 btn-warning" th:href="@{/utility/task}">[(#{menubutton.task})]</a>
				</div>
			</div>
			<div class="card m-3 border-dark formspace text-white col-md-2" >
				<div class="card-header bg-transparent border-primary">
					</div>
				<div class="card-body">
					<a href="#" class="btn small d-grid gap-2 btn-primary" th:href="@{/utility/round}">[[#{menubutton.round}]]</a>
				</div>
			</div>
			<div class="card m-3 border-dark formspace text-white col-md-2">
				<div class="card-header bg-transparent border-success">
					</div>
				<div class="card-body">
					<a href="#" class="btn small d-grid gap-2 btn-success" th:href="@{/ed/editors/approved}">[[#{menubutton.user}]]</a>
				</div>
			</div>
			<div class="card m-3 border-dark formspace text-white col-md-2">
				<div class="card-header bg-transparent border-secondary">
					</div>
				<div class="card-body">
					<a href="#" class="btn small d-grid gap-2 btn-secondary" th:href="@{/ed/editors/declined}">[[#{menubutton.guide}]]</a>
				</div>
			</div>

		</div>

	</div>
</content>

</html>