<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/header :: common-header" />
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>


<body>
<div th:replace="common/header :: navbar" /></div>
<div class="container">

<div class="row">
    <h1>Household Visits</h1>
    
    </div>
    
    <!-- Row Start -->
    <div class="row">
    <div class="col-lg-3">
    </div>
    	<div class="card-header">
    	<form th:action="@{/report/visits}" class="form-inline" method="get">
		    <div class="form-group">
		        Start Date: <input type="date" name="start-date" id="start-date" class="form-control mr-2" required>
		    </div>
		    <div class="form-group">
		        End Date: <input type="date" name="end-date"  id="end-date" class="form-control mr-2" required>
		    </div>
		    <button type="submit" class="btn btn-primary">Search</button>
		</form>

		</div>


    </div>
    
    
    
    <!-- Row Ends -->
    <table class="table" id="myTable">
        <thead class="thead-light">
        <tr>
            <th>#</th>
            <th>Number</th>
            <th>Date</th>
            <th>Fieldworker</th>
            <th>Village</th>
            <th>Loc</th>
            <th>VDate</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="visit, row : ${visits}">
        <td th:text="${row.index + 1}"></td>
        <td th:text="${visit.extId}"></td>
        <td th:text="${visit.insertDate}"></td>
        <td th:text="${visit.fw_uuid}"></td>
        <td th:text="${visit.location}"></td>
        <td th:text="${visit.visitDate}"></td>
    </tr>
        </tbody>
    </table>
</div>

<div th:replace="common/header :: body-bottom-scripts" ></div>
<script>
$(document).ready(function() {
    $('#myTable').DataTable({
        "pageLength": 10
    });
});
</script>



</body>
</html>
